* {
    margin:0;
    padding:0;
}

#messageForm {
    position:fixed;
    bottom:100px;
    left:100px;
}

#messageForm input[type=submit] {
    margin-left: 20px;
}

#message {
    width: 500px;
    height: 20px;
}

.messageContent {
    width: 500px;
    margin-left: 100px;
}

.helpMessage {
    color:red;
    font-size:12px;
    font-family:inherit;
}

.hidden {
    display:none;
}
