<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Room Chat</title>
        <link rel="stylesheet" href="static/css/chat.css" type="text/css"/>
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
        
                <div class="messageBox">
                    <ul>
                        {% for message in messages %}
                        <li>{% module Message(message) %}</li>
                        {% end %}
                    </ul>
                </div>
                
                <form id="messageForm" action="message/new">
                    <input type="text" name="body" id="message" 
                        autocomplete="off">
                    <input type="submit" value="发送">
                    {% module xsrf_form_html() %}
                </form>    
                <script src="static/jquery/dist/jquery.min.js"></script>
                <script src="static/jquery.cookie/jquery.cookie.js"></script>
                <script src="static/js/chat.js"></script>
            </div>
        </div>
    </body>
</html>
