{% extends "userBase.html" %}
{% block content %}
    <h1>{{ _('Welcome') }}</h1>
    <form class="form" id="loginForm" action="/login" method="post">
        {% module xsrf_form_html() %}
        <ul>
        <li>
            <span class="helpMessage hidden" id="emailHelp">please input email
                address correctly!</span>
        </li>
        <li>
            <span class="helpMessage hidden" id="passwordHelp">Invalid password
                </span>
        </li>
        </ul>
        <input type="text" placeholder="{{ _('Email') }}" 
            name="email" id="loginEmail" >
        <input type="password" placeholder="{{ _('Password') }}" 
            name="password" id="loginPassword">
        <button type="submit" id="login-button">
            {{ _('Login') }}</button>
    </form>
{% end %}
