<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% end %}</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

<div class="wrapper">
    <div class="container">
        {% block content %}
        {% end %} 
        <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div>    
</div>
    <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
    <script src="static/js/index.js"></script>
</body>
</html>
